body {
  font-family: sans-serif;
}

html,
body {
  height: 100%;
}

.box {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  height: 200px;
  width: 200px;
  transition: transform 0.5s ease-in-out;
}

button {
  margin-bottom: 30px;
  padding: 15px 40px;
  color: white;
  background-color: darkgrey;
  border-radius: 30px;
  border: 5px solid black;
  font-size: 20px;
  outline: none;
}

button:active {
  background-color: lightgrey;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

button:active + img {
  transform: rotate(140deg) scale(0.5);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  border: 5px solid black;
}
